<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Book club</title>
  <!-- google fonts -->
  <link rel="icon" href="favicon-2.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu&display=swap" rel="stylesheet">

  <!-- css stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles2.css">

  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/eaf37ab201.js" crossorigin="anonymous"></script>

  <!-- bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>

    <div class="image1class">
      <form class="" action="/homepage" method="post">
      <button type="submit" class="home btn btn-outline-info btn-lg" name="button" >Home Page </button>
        </form>
    <img class="image2" src="https://ak5.picdn.net/shutterstock/videos/12651545/thumb/1.jpg" alt="">
    <h1 class="heading">
      CheckOut!
    </h1>
    </div>

    <div class="class1">

                <% newItems.forEach(function (boxitem){ %>
                  <div class="row">
                    <div class="col-lg-6 image">
                      <div class="borderclass">
                        <img src="<%=boxitem.image%>" alt="">
                    </div>
                    </div>
                    <div class="col-lg-6 text">
                      <form action="/delete" method="post">
                      <h3><%=boxitem.name%></h3>
                      <h3>Quantity:</h3><input class="input" type="number" name="changed" min="0" value="<%=boxitem.count%>">
                      <button type="button" class="abc btn btn-outline-light btn-sm" name="buuton" value="<%=boxitem.count%>" onClick="this.form.submit()">update</button>
                      <input type="hidden" name="itemname" value="<%=boxitem.name%>">
                      <h3>Value: <%=boxitem.value%></h3>
                       </form>
                       <form class="" action="/deletebut" method="post">
                           <button type="button" class="abc btn btn-outline-light btn-sm" name="buuton" value="<%=boxitem.count%>" onClick="this.form.submit()">delete</button>
                             <input type="hidden" name="itemname2" value="<%=boxitem.name%>">
                       </form>
                    </div>
                  </div>
              <%  }) %>




                  </div>

                  <hr>
                  <div class="row">
                    <div class="col-lg-6 image">
                      <button type="button" class="btn btn-outline-light btn-lg"><i class=" image-1 fas fa-shopping-cart">Proceed to Checkout</i></button>
                    </div>
                    <div class="col-lg-6 text">
                      <div class="total">
                        <h4> <%=totalAmount%> /-</h4>
                      </div>
                    </div>
                  </div>

                  <footer class="white-body" id="footer">
                    <i class=" abc fab fa-twitter-square fa-2x"></i>
                    <i class="abc fab fa-facebook-f fa-2x"></i>
                    <i class="abc fab fa-instagram fa-2x"></i>
                    <i class="abc fas fa-envelope fa-2x"></i>
                    <h3 class="copy">© Yutesh BookClub</h3>




                  </footer>


  </body>

</html>
